/*I will start with the photos and see how i will go from there */

button div {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
}

.button-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;

}

* {
    margin: 0;
    padding: 0;
}



/*
a{
    text-decoration: none;
    color: #ffffff;
    padding: 30px;
    font-size: 24px;
    font-style:bolder;
    font-family: "Roboto";
    display:inline-flex;
    justify-content: center;
    margin-top: 140px;

}
.main-nav{
    position: absolute;
    left: 25%;
    font-weight: bold;
}
*/

h1 {
    /*Here is the company name */
    position: absolute;
    margin-top: 20px;
    ;
    font-family: "Roboto";
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    margin-left: 130px;

}

h1 span {
    display: block;
}

.Logo {
    /*logo border and logo font*/
    position: absolute;
    border: #ffffff 5px solid;
    border-radius: 10%;
    width: 100px;
    height: 60px;
    color: #011827;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    ;
    font-family: "Roboto";
    display: flex;
    justify-content: left;
}

h2 {
    /*this is for the logo*/
    padding: 3px;
    padding-top: 0.01em;
    margin-left: 3px;
    margin-bottom: 3px;
    margin-top: 30%;
    border: #ffffff 1px solid;
    border-radius: 30%;
    width: 15px;
    background-color: #FFFFFF;
    font-weight: normal;
}


/*header{    the big banner 
        background-image: url("Big-photo.jpg");
        background-size: cover;
        background-position: center;
        height: 50vh;
        display: flex;
        flex-direction: column;
    }

*/
.main-nav {
    /* this is the main-nav not the list*/
    background-color: #011827;
    text-align: center;
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    width: 100%;
    /* this is the width of the main-nav - remember not to touch this you stupid idiot */
    height: 100px;
}

li {
    /*list styling*/
    display: inline-flex;
    justify-content: center;
    margin-top: 75px;
}



.left-challenge,
.right-challenge,
.middle-challenge {
    /* the three challenges "with the stars" */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 0;
    margin: 20px;
    border-radius: 10px;
}



.stupid-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

}

.stupid-banner img {
    height: 20vh;
    /*100% view height*/
    width: 100vw;
    /* 100% view width*/
    position: absolute;
    top: 100px;

}

.First-button {
    position: absolute;
    top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 60px;
    margin: 40px;
}

.header-btn2,
.middle-p-btn {
    font-family: Roboto;

    background-color: #8acfe5;
    border: none;
    color: #011827;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 800;
    border-radius: 3px;
    margin: 1px 2px;
    /*box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;*/
}

.header-btn,
.middle-p-btn2 {
    font-family: Roboto;
    background: none;
    border: none;
    color: #8acfe5;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 13px;
    font-weight: 800;
    border-radius: 3px;
    margin: 4px 2px;
}

.middle-p-btn,
.middle-p-btn2 {
    margin-top: 20px;
    display: block;
    margin-left: 30%;
}

.blue-sec {
    background-color: #011827;
    color: #ffffff;
    padding: 90px;
    margin-top: 20px;
    margin-block-end: 0;
}

.blue-Article {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    font-family: "Roboto";
}

.blue-btn {
    font-family: Roboto;
    background-color: #011827;
    border: 1.5px solid #8acfe5;
    color: #8acfe5;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    border-radius: 3px;
    margin: 11px 2px;

}

.First-computer img,
.Second-computer img {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
}

/*.First-computer article h3,.{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #011827;
    margin-bottom: 20px;
}*/
.First-computer-article h3,
.second-computer-article h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    padding: 12px;
    text-align: left;
}

.First-computer-article h5,
.second-computer-article h5 {

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    color: #011827;
    margin-bottom: 20px;
    padding: 19px;
    padding-right: 40px;

}

.First-computer-article button,
.second-computer-article button {
    font-family: Roboto;
    background-color: #e3170a;
    border: none;
    color: #ffffff;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
    border-radius: 3px;
    margin: 30px 19px;

}

/*Here i ended the first and second computer section*/

/*this is for the review and book section*/
.second-aside {
    display: none;
}

.first-aside img {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 10px;
    ;
    margin-top: 400px;
    margin-bottom: 10px;
    padding: 0;
}

.first-aside img {
    border-radius: 50%;
    ;
    border: 20px solid #fffdfe;
    height: 50px;
    width: 50px;
}

.first-aside p {
    font-family: Roboto;
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    color: #011827;
    margin-left: 100px;
    position: relative;
    margin-top: -80px;
    margin-bottom: 10px;
    padding: 0;

}

.first-aside span {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: #011827;
    margin-left: 100px;
    position: relative;
    margin-top: -80px;
    margin-bottom: 10px;
    padding: 0;
}

.stupid-container {
    /* the container for the three challenges */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    ;
}

.stupid-container img {
    /* the images for the three challenges */
    max-width: 363px;
    max-height: 219px;
    border-top-right-radius: 4%;
    border-top-left-radius: 4%;
}

.stupid-container h4 {
    /* the h4 for the three challenges */
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    padding: 15px;
    margin: 1px;
}

.stupid-container p {
    /* the p for the three challenges */
    font-family: "Roboto";
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    padding: 10px;
    margin: 10px;
}

.stupid-container button {
    /* the button for the three challenges */
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    background: #B91E1E;
    border-radius: 4px;
    padding: 13px;
    margin-bottom: 10px;
    margin-left: 55%;
    border-style: none;

}

.stupid-container span img {
    /* the span "Stars"for the three challenges */
    background-color: #FFFFFF;
    color: #b91e1e;
    padding-left: 10px;
    margin: 1px;
}

.participants-number {
    /* the participants number for the three challenges */
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    ;
    font-size: 9px;
    color: #000000;
    position: absolute;
    padding-left: 290px;
    padding-top: 10px;

}

/* Mission impossible AKA footer */
footer {

    justify-content: left;
    padding: 0px;
    margin: 0px;
    background-color: #011827;
    color: #ffffff;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    padding: 20px;
    margin-top: 2px;
}


.important a {
    font-weight: bolder !important;
}

.First-ul p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: light;
    font-size: 14px;
    text-align: left;
    color: #ffffff;
    padding-left: 10px;
    margin-top: 10px;


}

.First-ul a,
.Second-ul a,
.Third-ul a,
.Fourth-ul a {
    margin-left: 10px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;

}

footer nav {
    display: flex;
    flex-direction: column;
}

/*this is for the footer / the truth from here i just kept testing numbers until it worked */
.Second-ul li,
.Third-ul li,
.Fourth-ul li {
    display: block;
    padding: 0;
    block-size: 9px;
    margin-left: 10px;
    margin-top: 25px;
    ;

}

.Third-ul {

    margin-top: 30px;
    block-size: 50px;
}

.Fourth-ul {
    margin-top: 30px;
    block-size: 200px;
}

.main-nav li {
  
    padding-top: 150px;
    padding:90px;
}
.main-nav li a {
   
    position: absolute;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: Roboto;
    list-style: none;
    text-decoration: none;
}
.main-nav li a:hover {
    color: #8acfe5;
}
/*

@media only screen and (max-width: 600px) {
    /* For mobile phones: *
    [class*="*"] {
      width: 100%;
    }
}
*/
@media only screen and (max-width: 600px) {

    /* for mobile phones-Don't -forget to learn more about this stuff */
    .main-nav li {
        display: none;
    }

    .button-menu {
        display: block;
    }

    .S-hacker {
        max-width: screen 100%;
    }

}

@media screen and (min-width: 500px) { /* for tablets and desktops */
    .button-menu {
        display: none;
    }
    .main-nav{ 
    /* this is for the nav bar, and i have a problem here, can't give it bigger height */
        position: absolute;
        padding: 10px;
        height: 150px;/*just testing, don't forget to change it */
    }
    .Big-photo{
        margin-top: 50px;
        padding-top:0px; /*testing */
    }

   
    .main-nav li {
        display: inline;
    }
    /*Don't forget- you are fixing the stupid links*/
    .main-nav li a {
        display: inline-block;
        padding: 40px;
        padding-left: 10px;
        list-style: none;
        text-decoration: none;
    }
    /*now fixing the h1 + the logo*/

    .First-h1 {
        display: flex;
        padding-left: 7px;
        margin-top: 60px;;
    }
    .First-h1,.First-h1 span {
       
        font-size: 24px;
        text-align: center;
        padding-inline-start: 10px;
         /* I used these because the middle
          word is not in span so this solved my problem with spacing between words */
        padding-inline-end: 10px;
        
    }
    /*button challenges*/
    .First-button{
        display: inline-block;
        justify-content: center;
        margin-top: 130px;
        margin-left: 40%;
        
    }
    .header-btn{
      background-color : #e3170a;
      color : #ffffff;
      text-decoration: none;
      font-weight: 500;

    }
}



